<a href="https://colab.research.google.com/github/min02yam/R/blob/main/practice/dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

@장연훈 선생님

In [ ]:
library(magrittr)

In [ ]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

#### 1. order() ➡️ `arrange()`
#### 2. %<>% 파이프 연산자
#### 3. min-max norm 장점 및 단점 정리
#### 4. lapply() ➡️ `mutate_at()`
#### 5. ifelse() ➡️ `case_when()`
#### 6. `rowSums( across(target) )`

In [ ]:
df<-airquality

In [ ]:
df %>% arrange(desc(Ozone)) %>% head(10)

   Ozone Solar.R Wind Temp Month Day
1  168   238     3.4  81   8     25
2  135   269     4.1  84   7      1
3  122   255     4.0  89   8      7
4  118   225     2.3  94   8     29
5  115   223     5.7  79   5     30
6  110   207     8.0  90   8      9
7  108   223     8.0  85   7     25
8   97   267     6.3  92   7      8
9   97   272     5.7  92   7      9
10  96   167     6.9  91   9      1

In [ ]:
df %<>% mutate(Ozone= ifelse(is.na(Ozone), 96, Ozone))

In [ ]:
before <- mean (airquality$Ozone , na.rm=TRUE)
after <- mean(df$Ozone)

In [ ]:
ans<- abs(before-after); ans

[1] 13.02755

In [ ]:
df %<>% mutate( Solar.R = ifelse (is.na(df[,2]), mean(df[,2], na.rm=TRUE), df[,2] ) )

In [ ]:
summary(df)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 21.00   1st Qu.:120.0   1st Qu.: 7.400   1st Qu.:72.00
 Median : 45.00   Median :194.0   Median : 9.700   Median :79.00
 Mean   : 55.16   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 96.00   3rd Qu.:256.0   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

In [ ]:
#민맥스스케일링 함수 만들고 2개 변수에 적용하기 
min_max_norm <- function(x){
    (x-min(x)) / (max(x)- min(x))
}

df_n<-as.data.frame(lapply(df[1:2], min_max_norm))

In [ ]:
head(df_n)

  Ozone      Solar.R
1 0.23952096 0.5596330
2 0.20958084 0.3394495
3 0.06586826 0.4342508
4 0.10179641 0.9357798
5 0.56886228 0.5471912
6 0.16167665 0.5471912

In [ ]:
df %<>% mutate_at (       vars(Ozone, Solar.R ) , 
                   .funs=   min_max_norm    ) %>% head(5)

In [ ]:
##case_when

In [ ]:
#setwd("C:/Users/alsdu/OneDrive/문서/카카오톡 받은 파일/20220424_데이터분석 스터디/20220424_데이터분석 스터디")

ERROR: ignored

In [ ]:
ht<-read.csv("/content/health.csv")

In [ ]:
str(ht)

'data.frame':	319795 obs. of  18 variables:
 $ HeartDisease    : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 2 1 1 1 1 ...
 $ BMI             : num  16.6 20.3 26.6 24.2 23.7 ...
 $ Smoking         : Factor w/ 2 levels "No","Yes": 2 1 2 1 1 2 1 2 1 1 ...
 $ AlcoholDrinking : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ Stroke          : Factor w/ 2 levels "No","Yes": 1 2 1 1 1 1 1 1 1 1 ...
 $ PhysicalHealth  : num  3 0 20 0 28 6 15 5 0 0 ...
 $ MentalHealth    : num  30 0 30 0 0 0 0 0 0 0 ...
 $ DiffWalking     : Factor w/ 2 levels "No","Yes": 1 1 1 1 2 2 1 2 1 2 ...
 $ Sex             : Factor w/ 2 levels "Female","Male": 1 1 2 1 1 1 1 1 1 2 ...
 $ AgeCategory     : Factor w/ 13 levels "18-24","25-29",..: 8 13 10 12 5 12 11 13 13 10 ...
 $ Race            : Factor w/ 6 levels "American Indian/Alaskan Native",..: 6 6 6 6 6 3 6 6 6 6 ...
 $ Diabetic        : Factor w/ 4 levels "No","No, borderline diabetes",..: 3 1 3 1 1 1 1 3 2 1 ...
 $ PhysicalActivity: Factor w/ 2 levels "No","Yes": 2 2 2 1 2 1 2 1 1 2 ...
 $ GenHealth       : Factor w/ 5 levels "Excellent","Fair",..: 5 5 2 3 5 2 2 3 2 3 ...
 $ SleepTime       : num  5 7 8 6 8 12 4 9 5 10 ...
 $ Asthma          : Factor w/ 2 levels "No","Yes": 2 1 2 1 1 1 2 2 1 1 ...
 $ KidneyDisease   : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 2 1 ...
 $ SkinCancer      : Factor w/ 2 levels "No","Yes": 2 1 1 2 1 1 2 1 1 1 ...

In [ ]:
target <- c('HeartDisease', 'Diabetic', 'Stroke', 'KidneyDisease','SkinCancer', 'Asthma')

In [ ]:
target

[1] "HeartDisease"  "Diabetic"      "Stroke"        "KidneyDisease"
[5] "SkinCancer"    "Asthma"

In [ ]:
ht %>% select(target) %>% head(5)
ht %<>%  mutate(across(.cols = target, function(x)ifelse(x=='No',0,1)))
ht %>% select(target) %>% head(5)

Note: Using an external vector in selections is ambiguous.
ℹ Use `all_of(target)` instead of `target` to silence this message.
ℹ See <https://tidyselect.r-lib.org/reference/faq-external-vector.html>.
This message is displayed once per session.

  HeartDisease Diabetic Stroke KidneyDisease SkinCancer Asthma
1 No           Yes      No     No            Yes        Yes
2 No           No       Yes    No            No         No
3 No           Yes      No     No            No         Yes
4 No           No       No     No            Yes        No
5 No           No       No     No            No         No

  HeartDisease Diabetic Stroke KidneyDisease SkinCancer Asthma
1 0            1        0      0             1          1
2 0            0        1      0             0          0
3 0            1        0      0             0          1
4 0            0        0      0             1          0
5 0            0        0      0             0          0

In [ ]:
table(ht$GenHealth)
ht %<>% mutate(GenHealth = case_when(GenHealth=='Poor' ~ 5,
                                    GenHealth=='Fair' ~ 4,
                                    GenHealth=='Good' ~ 3,
                                    GenHealth=='Very good' ~ 2,
                                    GenHealth=='Excellent' ~ 1))

          Excellent      Fair      Good      Poor Very good
        1     35835     18593     50425      6216     62113

In [ ]:
table(ht$GenHealth)  # 확인

    1     2     3     4     5
35835 62113 50425 18593  6216

In [ ]:
ht %<>% mutate(DiseaseCount = rowSums(across(target)))

In [ ]:
ht %>% head(5)

  HeartDisease BMI   Smoking AlcoholDrinking Stroke PhysicalHealth MentalHealth
1 0            16.60 Yes     No              0       3             30
2 0            20.34 No      No              1       0              0
3 0            26.58 Yes     No              0      20             30
4 0            24.21 No      No              0       0              0
5 0            23.71 No      No              0      28              0
  DiffWalking Sex    AgeCategory Race  Diabetic PhysicalActivity GenHealth
1 No          Female 55-59       White 1        Yes              2
2 No          Female 80 or older White 0        Yes              2
3 No          Male   65-69       White 1        Yes              4
4 No          Female 75-79       White 0        No               3
5 Yes         Female 40-44       White 0        Yes              2
  SleepTime Asthma KidneyDisease SkinCancer DiseaseCount
1 5         1      0             1          3
2 7         0      0             0          1
3 8         1      0             0          2
4 6         0      0             1          1
5 8         0      0             0          0

In [ ]:
ht %>% group_by(Race) %>% summarise(corr_spearman = cor(GenHealth, DiseaseCount, method = 'spearman')) %>% arrange(desc(corr_spearman))

  Race                           corr_spearman
1 Black                          0.3604979
2 Other                          0.3502796
3 American Indian/Alaskan Native 0.3375399
4 White                          0.3307961
5 Hispanic                       0.2971377
6 Asian                          0.2585929
7                                       NA