<a href="https://colab.research.google.com/github/min02yam/R-study/blob/main/%EC%97%B0%EC%8A%B5/mlr%2Btidyverse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2022.05.18

In [4]:
#install.packages(c("mlr","tidyverse"))
#install.packages("titanic")
library(mlr); library(tidyverse); library(titanic)

Loading required package: ParamHelpers

Warning message: 'mlr' is in 'maintenance-only' mode since July 2019.
Future development will only happen in 'mlr3'
(<https://mlr3.mlr-org.com>). Due to the focus on 'mlr3' there might be
uncaught bugs meanwhile in {mlr} - please consider switching.

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [8]:
#티블로 변경
tib<- as_tibble(titanic_train)

In [11]:
#할당
factors <- c("Survived", "Sex", "Pclass")

In [22]:
#tib_clean
tib_clean<- tib %>% mutate_at(.vars = factors, .funs = factor) %>% 
        mutate(FamSize = SibSp + Parch)  %>% 
       select(Survived, Pclass, Sex, Age, Fare, FamSize)

tib_clean %>%head(5)

  Survived Pclass Sex    Age Fare    FamSize
1 0        3      male   22   7.2500 1
2 1        1      female 38  71.2833 1
3 1        3      female 26   7.9250 0
4 1        1      female 35  53.1000 1
5 0        3      male   35   8.0500 0

#[예제]

In [26]:
#티블 변형
iris <- as_tibble(iris)

In [27]:
#스케일(표준화)함수 생성 
scale2 <- function(x, na.rm = FALSE) (x - mean(x, na.rm = na.rm)) / sd(x, na.rm)

In [ ]:
starwars %>% head(3)

In [ ]:
#NA로 반환 (당연)
starwars %>% mutate_at(c("height", "mass"), scale2) %>% head(3)

In [ ]:
 #역시 NA (역시 당연)
 starwars %>% mutate(across(c("height", "mass"), scale2)) %>% head(3)

In [33]:
# You can pass additional arguments to the function:
# 표준화 성공 ! 
starwars %>% mutate_at(c("height", "mass"), scale2, na.rm = TRUE) %>% head(1)

  name           height      mass       hair_color skin_color eye_color
1 Luke Skywalker -0.06781696 -0.1198643 blond      fair       blue
  birth_year sex  gender    homeworld species
1 19         male masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
  starships
1 X-wing          , Imperial shuttle

In [35]:
 starwars %>% mutate(across(c("height", "mass"), ~ scale2(.x, na.rm = TRUE))) %>% head(1)

  name           height      mass       hair_color skin_color eye_color
1 Luke Skywalker -0.06781696 -0.1198643 blond      fair       blue
  birth_year sex  gender    homeworld species
1 19         male masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
  starships
1 X-wing          , Imperial shuttle

In [ ]:
starwars %>% mutate_at(c("height", "mass"), ~scale2(., na.rm = TRUE)) %>%head(1)

In [ ]:

     
     # You can also supply selection helpers to _at() functions but you have
     # to quote them with vars():
     iris %>% mutate_at(vars(matches("Sepal")), log)
     iris %>% mutate(across(matches("Sepal"), log))
     
     # The _if() variants apply a predicate function (a function that
     # returns TRUE or FALSE) to determine the relevant subset of
     # columns. Here we divide all the numeric columns by 100:
     starwars %>% mutate_if(is.numeric, scale2, na.rm = TRUE)
     starwars %>% mutate(across(where(is.numeric), ~ scale2(.x, na.rm = TRUE)))
     
     # mutate_if() is particularly useful for transforming variables from
     # one type to another
     iris %>% mutate_if(is.factor, as.character)
     iris %>% mutate_if(is.double, as.integer)
     # ->
     iris %>% mutate(across(where(is.factor), as.character))
     iris %>% mutate(across(where(is.double), as.integer))