<a href="https://colab.research.google.com/github/min02yam/Data-study/blob/main/20220508_Worldcupgoals_%ED%95%98%EB%8A%94%EC%A4%91_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data Pre-processing


## 1-2-1. Worldcupgoals.csv 데이터에서 국가별 득점을 한 선수의 숫자와 총 득점수를 표시하시오. (가장 적은 코드로 작성한 사람에게는 커피 한 잔 쿠폰을 선물로 드립니다. )

## 1-2-2. Worldcupgoals.csv 데이터에서 tm 패키지를 이용해서 월드컵 출전회수 column을 추가하시오.

In [ ]:
install.packages(c("dplyr","tm"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘NLP’, ‘slam’, ‘BH’

In [7]:
library(dplyr);library(magrittr)

In [8]:
install.packages("tm");  library(tm)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘NLP’, ‘Rcpp’, ‘slam’, ‘BH’


Loading required package: NLP

- `step1)` 데이터 불러오기 및 간단한 구조 확인

In [1]:
df<-read.csv("/content/Worldcupgoals.csv")

In [2]:
str(df); head(df)

'data.frame':	1295 obs. of  4 variables:
 $ Player : chr  "Miroslav Klose" "Ronaldo" "Gerd Muller" "Just Fontaine" ...
 $ Goals  : int  16 15 14 13 12 11 11 10 10 10 ...
 $ Years  : chr  "2002-2006-2010-2014" "1998-2002-2006" "1970-1974" "1958" ...
 $ Country: chr  "Germany" "Brazil" "Germany" "France" ...

  Player           Goals Years               Country
1 Miroslav Klose   16    2002-2006-2010-2014 Germany
2 Ronaldo          15    1998-2002-2006      Brazil
3 Gerd Muller      14    1970-1974           Germany
4 Just Fontaine    13    1958                France
5 Pele             12    1958-1962-1966-1970 Brazil
6 Jurgen Klinsmann 11    1990-1994-1998      Germany

- `step2)` 국가별 그룹화 한 뒤, goals갯수 sum

In [ ]:
#장연훈선생님코드
#wc[order(-Years)] %>% View()

## 1) top 5 Country ----------
#wc[,.N, by=Country][order(-N)][1:5]


## 2) over 3
#split(x = wc$Year)
#wc$count <- sapply(strsplit(wc$Years,'-'),function(x)length(x))
#wc %>% filter(Country=='Brazil',
#              count==3)