<a href="https://colab.research.google.com/github/min02yam/R-study/blob/main/220712_%EB%AC%B8%EC%9E%90%EC%97%B4(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

strsplit ->factor안됨 char변환

In [1]:
system("gdown --id 1VKMr75H3Bu3px_rJXd9Y3KQikxKtJadN")

In [2]:
require(data.table)
require(dplyr)
require(lubridate)
require(magrittr)
#require(purrr) #안씀

Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: lubridate

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union


Loading required package: magrittr

In [18]:
df=read.csv("Worldcupgoals.csv")

In [ ]:
#df %>% class

[1] "data.frame"

In [6]:
df %>% head

  Player           Goals Years               Country
1 Miroslav Klose   16    2002-2006-2010-2014 Germany
2 Ronaldo          15    1998-2002-2006      Brazil
3 Gerd Muller      14    1970-1974           Germany
4 Just Fontaine    13    1958                France
5 Pele             12    1958-1962-1966-1970 Brazil
6 Jurgen Klinsmann 11    1990-1994-1998      Germany

In [20]:
names(df)=tolower(names(df))

In [8]:
df %>% head

  player           goals years               country
1 Miroslav Klose   16    2002-2006-2010-2014 Germany
2 Ronaldo          15    1998-2002-2006      Brazil
3 Gerd Muller      14    1970-1974           Germany
4 Just Fontaine    13    1958                France
5 Pele             12    1958-1962-1966-1970 Brazil
6 Jurgen Klinsmann 11    1990-1994-1998      Germany

# 날짜 파싱

In [9]:
parse_date_time(df$years, orders=("0y")) %>% head

Warning message:
“ 516 failed to parse.”

[1] NA               NA               NA               "1958-01-01 UTC"
[5] NA               NA

- 일단 먼저 특수문자('-') 제거해서 나눠야함

In [ ]:
     strsplit(x, "", fixed=TRUE)
    # tstrsplit(x, "", fixed=TRUE)
    # tstrsplit(x, "", fixed=TRUE, fill="<NA>")

In [10]:
df %>% select(years)  %>% head

  years
1 2002-2006-2010-2014
2 1998-2002-2006
3 1970-1974
4 1958
5 1958-1962-1966-1970
6 1990-1994-1998

In [29]:
#?transpose

In [40]:
strsplit(df$years , "-", fixed=TRUE) %>% transpose(fill="") -> t_str_split

In [46]:
df['year_1st']=str_split_trans[[1]] 
df['year_2nd']=str_split_trans[[2]] 
df['year_3rd']=str_split_trans[[3]] 
df['year_4th']=str_split_trans[[4]]

In [47]:
head(df) # 확인 완료

  player           goals years               country year_first year_1st
1 Miroslav Klose   16    2002-2006-2010-2014 Germany 2002       2002
2 Ronaldo          15    1998-2002-2006      Brazil  1998       1998
3 Gerd Muller      14    1970-1974           Germany 1970       1970
4 Just Fontaine    13    1958                France  1958       1958
5 Pele             12    1958-1962-1966-1970 Brazil  1958       1958
6 Jurgen Klinsmann 11    1990-1994-1998      Germany 1990       1990
  year_2nd year_3rd year_4th
1 2006     2010     2014
2 2002     2006
3 1974
4
5 1962     1966     1970
6 1994     1998

# 아래는 data.table

In [ ]:
#df['years_1st']=tstrsplit(df$years, "-", fixed=TRUE)[[1]]
#df['years_2nd']=tstrsplit(df$years, "-", fixed=TRUE)[[2]]
#df['years_3rd']=tstrsplit(df$years, "-", fixed=TRUE)[[3]]
#df['years_4th']=tstrsplit(df$years, "-", fixed=TRUE)[[4]]

In [ ]:
df [tstrsplit(df$years, "-", fixed=TRUE)[[1]], on = .(years), ]

ERROR: ignored

In [ ]:
tstrsplit(df$years, "-", fixed=TRUE)[[1]] %>% as.vector = df['years_1st']

ERROR: ignored