<a href="https://colab.research.google.com/github/min02yam/Data-study/blob/main/20220508_%ED%95%98%EB%8A%94%EC%A4%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data Pre-processing


## 1)   airquality 데이터셋에서 결측값에 대해 3분위수로 대체하고, melt()를 써서 날짜변수를 제외한 column변수를 row변수로 바꿔서 air_melt로 저장하시오. 
## 2)   air_melt를 데이터프레임 구조를 동일하게 유지하면서 원래의 airquality 데이터셋으로 만드시오.

In [3]:
install.packages(c("dplyr","reshape2"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘plyr’, ‘Rcpp’

In [6]:
library(dplyr); library(reshape2)

- `step1)` 데이터 불러오기 및 간단한 구조 확인

In [1]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [7]:
df<-airquality

In [11]:
summary(df)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

- `step2)` NA 0.75퀀타일 값으로 대체

In [16]:
for (j in 1:2) {
df[,j]<- ifelse( is.na(df[,j]) , quantile(df[,j], probs=0.75, na.rm=TRUE) , df[,j] )
}

In [18]:
summary(df); head(df) # 확인

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 21.00   1st Qu.:120.0   1st Qu.: 7.400   1st Qu.:72.00
 Median : 45.00   Median :215.0   Median : 9.700   Median :79.00
 Mean   : 47.24   Mean   :189.3   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

- `step3)` 날짜변수를 제외한 column변수를 row변수로 바꿔서 air_melt로 저장

In [ ]:
air_melt<-melt(df[,-6]) ; air_melt

- `step4)` 
데이터프레임 구조를 동일하게 유지하면서 
> A data.frame: 765 × 2

  원래의 airquality 데이터셋으로...??
> air_melt에 6번 컬럼 값 추가..??

ref. https://seananderson.ca/2013/10/19/reshape/