<a href="https://colab.research.google.com/github/min02yam/R-study/blob/main/20220508_Worldcupgoals_%EB%8B%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

22.05.01
update 22.06.30

# 1. Data Pre-processing


## 1-2-1. Worldcupgoals.csv 데이터에서 국가별 득점을 한 선수의 숫자와 총 득점수를 표시하시오. (가장 적은 코드로 작성한 사람에게는 커피 한 잔 쿠폰을 선물로 드립니다. )

## 1-2-2. Worldcupgoals.csv 데이터에서 tm 패키지를 이용해서 월드컵 출전회수 column을 추가하시오.

In [1]:
install.packages(c("dplyr","tm"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘NLP’, ‘Rcpp’, ‘slam’, ‘BH’

In [2]:
library(dplyr);library(magrittr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
install.packages("tm");  library(tm)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loading required package: NLP

ref. https://cran.r-project.org/web/packages/tm/vignettes/tm.pdf

- `step1)` 데이터 불러오기 및 간단한 구조 확인

In [7]:
system("gdown --id 1VKMr75H3Bu3px_rJXd9Y3KQikxKtJadN")

In [8]:
df=read.csv("Worldcupgoals.csv", stringsAsFactors = TRUE)

In [9]:
dplyr:: glimpse(df)

Rows: 1,295
Columns: 4
$ Player  <fct> Miroslav Klose, Ronaldo, Gerd Muller, Just Fontaine, Pele, Jur…
$ Goals   <int> 16, 15, 14, 13, 12, 11, 11, 10, 10, 10, 10, 10, 10, 9, 9, 9, 9…
$ Years   <fct> 2002-2006-2010-2014, 1998-2002-2006, 1970-1974, 1958, 1958-196…
$ Country <fct> Germany, Brazil, Germany, France, Brazil, Germany, Hungary, Ar…

In [10]:
str(df); head(df)

'data.frame':	1295 obs. of  4 variables:
 $ Player : Factor w/ 1291 levels "Abdel Fawzi",..: 868 1072 412 676 957 675 1099 389 395 1180 ...
 $ Goals  : int  16 15 14 13 12 11 11 10 10 10 ...
 $ Years  : Factor w/ 95 levels "0","1930","1930-1934",..: 82 75 34 19 22 61 14 69 54 91 ...
 $ Country: Factor w/ 76 levels "Algeria","Angola",..: 26 9 26 25 9 26 31 3 24 26 ...

  Player           Goals Years               Country
1 Miroslav Klose   16    2002-2006-2010-2014 Germany
2 Ronaldo          15    1998-2002-2006      Brazil
3 Gerd Muller      14    1970-1974           Germany
4 Just Fontaine    13    1958                France
5 Pele             12    1958-1962-1966-1970 Brazil
6 Jurgen Klinsmann 11    1990-1994-1998      Germany

- `step2)` 국가별 득점을 한 선수의 숫자와 총 득점수를 표시

In [36]:
df %>% group_by(Country) %>%
       count(Goals,Player) %>%
       summarise( tot_Goals=sum(Goals),tot_player= sum(n)) %>%
      arrange(-tot_Goals) %>%head()

  Country   tot_Goals tot_player
1 Brazil    227       81
2 Germany   226       78
3 Argentina 135       59
4 Italy     123       60
5 France    115       58
6 Spain      96       48

- `step3)` tm 패키지를 이용해서 월드컵 출전회수 column을 추가

In [38]:
#names(df)=tolower(names(df))
#names(df)

[1] "player"  "goals"   "years"   "country"

In [45]:
df$year %>% VectorSource %>% VCorpus -> cp

In [54]:
year=tm_map(cp, removePunctuation)  #vcorpus

In [60]:
df$count_year=sapply(year, nchar)[1,] /4 #행렬반환

In [ ]:
#year<-tm_map( VCorpus(VectorSource(df[,3])),  removePunctuation)  
#df$count_year<-sapply(year, nchar)[1,] / 4

In [61]:
head(df)

  player           goals years               country count_year
1 Miroslav Klose   16    2002-2006-2010-2014 Germany 4
2 Ronaldo          15    1998-2002-2006      Brazil  3
3 Gerd Muller      14    1970-1974           Germany 2
4 Just Fontaine    13    1958                France  1
5 Pele             12    1958-1962-1966-1970 Brazil  4
6 Jurgen Klinsmann 11    1990-1994-1998      Germany 3

lubridate