<a href="https://colab.research.google.com/github/min02yam/Data-study/blob/main/20220508_airquality_%EB%8B%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data Pre-processing


## 1)   airquality 데이터셋에서 결측값에 대해 3분위수로 대체하고, melt()를 써서 날짜변수를 제외한 column변수를 row변수로 바꿔서 air_melt로 저장하시오. 
## 2)   air_melt를 데이터프레임 구조를 동일하게 유지하면서 원래의 airquality 데이터셋으로 만드시오.

In [2]:
install.packages(c("dplyr","reshape2"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘plyr’, ‘Rcpp’

In [3]:
library(dplyr); library(reshape2)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

- `step1)` 데이터 불러오기 및 간단한 구조 확인

In [4]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [5]:
df<-airquality

In [6]:
summary(df)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

- `step2)` NA 0.75퀀타일 값으로 대체

In [7]:
for (j in 1:2) {
df[,j]<- ifelse( is.na(df[,j]) , quantile(df[,j], probs=0.75, na.rm=TRUE) , df[,j] )
}

In [8]:
summary(df); head(df) # 확인

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 21.00   1st Qu.:120.0   1st Qu.: 7.400   1st Qu.:72.00
 Median : 45.00   Median :215.0   Median : 9.700   Median :79.00
 Mean   : 47.24   Mean   :189.3   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

  Ozone Solar.R Wind Temp Month Day
1 41.00 190.00   7.4 67   5     1
2 36.00 118.00   8.0 72   5     2
3 12.00 149.00  12.6 74   5     3
4 18.00 313.00  11.5 62   5     4
5 63.25 258.75  14.3 56   5     5
6 28.00 258.75  14.9 66   5     6

- `step3)` 날짜변수를 제외한 column변수를 row변수로 바꿔서 air_melt로 저장

In [10]:
air_melt<-melt(df[,-c(5:6)]) ; air_melt

No id variables; using all as measure variables

    variable value
1   Ozone     41.00
2   Ozone     36.00
3   Ozone     12.00
4   Ozone     18.00
5   Ozone     63.25
6   Ozone     28.00
7   Ozone     23.00
8   Ozone     19.00
9   Ozone      8.00
10  Ozone     63.25
11  Ozone      7.00
12  Ozone     16.00
13  Ozone     11.00
14  Ozone     14.00
15  Ozone     18.00
16  Ozone     14.00
17  Ozone     34.00
18  Ozone      6.00
19  Ozone     30.00
20  Ozone     11.00
21  Ozone      1.00
22  Ozone     11.00
23  Ozone      4.00
24  Ozone     32.00
25  Ozone     63.25
26  Ozone     63.25
27  Ozone     63.25
28  Ozone     23.00
29  Ozone     45.00
30  Ozone    115.00
⋮   ⋮        ⋮
583 Temp     91
584 Temp     92
585 Temp     93
586 Temp     93
587 Temp     87
588 Temp     84
589 Temp     80
590 Temp     78
591 Temp     75
592 Temp     73
593 Temp     81
594 Temp     76
595 Temp     77
596 Temp     71
597 Temp     71
598 Temp     78
599 Temp     67
600 Temp     76
601 Temp     68
602 Temp     82
603 Temp     64
604 Temp     71
605 Temp     81
606 Temp     69
607 Temp     63
608 Temp     70
609 Temp     77
610 Temp     75
611 Temp     76
612 Temp     68

- `step4)` 
데이터프레임 구조를 동일하게 유지하면서 
> A data.frame: 765 × 2

  원래의 airquality 데이터셋으로...??
> air_melt에 5,6번 컬럼 값 추가..??

ref. https://seananderson.ca/2013/10/19/reshape/

In [13]:
air_melt2<-melt(df, id.vars = c("Month", "Day")) ; head(air_melt2)

  Month Day variable value
1 5     1   Ozone    41.00
2 5     2   Ozone    36.00
3 5     3   Ozone    12.00
4 5     4   Ozone    18.00
5 5     5   Ozone    63.25
6 5     6   Ozone    28.00

In [15]:
aqw <- dcast(air_melt2, Month + Day ~ variable)
head(aqw)

  Month Day Ozone Solar.R Wind Temp
1 5     1   41.00 190.00   7.4 67
2 5     2   36.00 118.00   8.0 72
3 5     3   12.00 149.00  12.6 74
4 5     4   18.00 313.00  11.5 62
5 5     5   63.25 258.75  14.3 56
6 5     6   28.00 258.75  14.9 66