<a href="https://colab.research.google.com/github/min02yam/Data-study/blob/main/20220508_Worldcupgoals_%EB%8B%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data Pre-processing


## 1-2-1. Worldcupgoals.csv 데이터에서 국가별 득점을 한 선수의 숫자와 총 득점수를 표시하시오. (가장 적은 코드로 작성한 사람에게는 커피 한 잔 쿠폰을 선물로 드립니다. )

## 1-2-2. Worldcupgoals.csv 데이터에서 tm 패키지를 이용해서 월드컵 출전회수 column을 추가하시오.

In [1]:
install.packages(c("dplyr","tm"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
library(dplyr);library(magrittr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
install.packages("tm");  library(tm)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loading required package: NLP

ref. https://cran.r-project.org/web/packages/tm/vignettes/tm.pdf

- `step1)` 데이터 불러오기 및 간단한 구조 확인

In [4]:
df<-read.csv("/content/Worldcupgoals.csv")

In [5]:
str(df); head(df)

'data.frame':	1295 obs. of  4 variables:
 $ Player : chr  "Miroslav Klose" "Ronaldo" "Gerd Muller" "Just Fontaine" ...
 $ Goals  : int  16 15 14 13 12 11 11 10 10 10 ...
 $ Years  : chr  "2002-2006-2010-2014" "1998-2002-2006" "1970-1974" "1958" ...
 $ Country: chr  "Germany" "Brazil" "Germany" "France" ...

  Player           Goals Years               Country
1 Miroslav Klose   16    2002-2006-2010-2014 Germany
2 Ronaldo          15    1998-2002-2006      Brazil
3 Gerd Muller      14    1970-1974           Germany
4 Just Fontaine    13    1958                France
5 Pele             12    1958-1962-1966-1970 Brazil
6 Jurgen Klinsmann 11    1990-1994-1998      Germany

- `step2)` 국가별 득점을 한 선수의 숫자와 총 득점수를 표시 
> group_by, count, summarise로 해결

In [6]:
df %>% group_by(Country)  %>% count(Player, Goals) %>% summarise(tot_goals=sum(Goals), tot_player=sum(n)) %>%arrange(-tot_goals)

   Country        tot_goals tot_player
1  Brazil         227       81
2  Germany        226       78
3  Argentina      135       59
4  Italy          123       60
5  France         115       58
6  Spain           96       48
7  England         89       46
8  Uruguay         86       39
9  Hungary         85       36
10 Netherlands     84       39
11 Sweden          78       39
12 Belgium         65       37
13 Yugoslavia      61       38
14 Mexico          60       42
15 USSR            52       30
16 Switzerland     50       28
17 Poland          46       18
18 Portugal        46       22
19 Czech           44       22
20 Austria         40       23
21 Chile           40       24
22 USA             34       20
23 South Korea     33       22
24 Croatia         31       16
25 Colombia        30       19
26 Denmark         30       18
27 Romania         30       17
28 Paraguay        28       20
29 Russia          23       13
30 Scotland        23       18
⋮  ⋮              ⋮         ⋮
47 South Africa   11        9
48 Ireland        10        8
49 Senegal        10        7
50 Iran            8        8
51 North Korea     6        5
52 Norway          6        5
53 Serbia          6        6
54 Cuba            5        4
55 Egypt           5        3
56 Greece          5        5
57 Slovakia        5        2
58 Slovenia        5        5
59 Ukraine         5        4
60 Bosnia Herz     4        4
61 New Zealand     4        4
62 Wales           4        3
63 Czech Republic  3        2
64 Honduras        3        3
65 Jamaica         3        2
66 Haiti           2        1
67 Iceland         2        2
68 Kuwait          2        2
69 UAE             2        2
70 Angola          1        1
71 Bolivia         1        1
72 El Salvador     1        1
73 Iraq            1        1
74 Israel          1        1
75 Panama          1        1
76 Togo            1        1

- `step3)` tm 패키지를 이용해서 월드컵 출전회수 column을 추가

In [7]:
year<-tm_map( VCorpus(VectorSource(df[,3])),  removePunctuation)   # 리스트로 반환뒴

In [8]:
df$count_year<-sapply(year, nchar)[1,] / 4

In [9]:
head(df)

  Player           Goals Years               Country count_year
1 Miroslav Klose   16    2002-2006-2010-2014 Germany 4
2 Ronaldo          15    1998-2002-2006      Brazil  3
3 Gerd Muller      14    1970-1974           Germany 2
4 Just Fontaine    13    1958                France  1
5 Pele             12    1958-1962-1966-1970 Brazil  4
6 Jurgen Klinsmann 11    1990-1994-1998      Germany 3

In [10]:
#year[[1]]$content
#year[[1]]

In [11]:
#year[[1]]$content

In [12]:
#year[[1]]

In [13]:
#year[[3]]$content

In [14]:
#nchar( tm_map(year, removePunctuation) )

In [15]:
#df$count <- sapply(tm_map(year, removePunctuation) ,nchar)