In [6]:
library(magrittr)

In [2]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

#### 1. order() ➡️ `arrange()`
#### 2. %<>% 파이프 연산자
#### 3. min-max norm 장점 및 단점 정리
#### 4. lapply() ➡️ `mutate_at()`
#### 5. ifelse() ➡️ `case_when()`
#### 6. `rowSums( across(target) )`

In [1]:
df<-airquality

In [3]:
df %>% arrange(desc(Ozone)) %>% head(10)

   Ozone Solar.R Wind Temp Month Day
1  168   238     3.4  81   8     25
2  135   269     4.1  84   7      1
3  122   255     4.0  89   8      7
4  118   225     2.3  94   8     29
5  115   223     5.7  79   5     30
6  110   207     8.0  90   8      9
7  108   223     8.0  85   7     25
8   97   267     6.3  92   7      8
9   97   272     5.7  92   7      9
10  96   167     6.9  91   9      1

In [9]:
df %<>% mutate(Ozone= ifelse(is.na(Ozone), 96, Ozone))

In [14]:
before <- mean (airquality$Ozone , na.rm=TRUE)
after <- mean(df$Ozone)

In [15]:
ans<- abs(before-after); ans

[1] 13.02755

In [20]:
df %<>% mutate( Solar.R = ifelse (is.na(df[,2]), mean(df[,2], na.rm=TRUE), df[,2] ) )

In [23]:
summary(df)

     Ozone         Solar.R           Wind            Temp          Month
 Min.   :12.0   Min.   :118.0   Min.   : 7.40   Min.   :56.0   Min.   :5
 1st Qu.:18.0   1st Qu.:149.0   1st Qu.: 8.00   1st Qu.:62.0   1st Qu.:5
 Median :36.0   Median :185.9   Median :11.50   Median :67.0   Median :5
 Mean   :40.6   Mean   :191.2   Mean   :10.76   Mean   :66.2   Mean   :5
 3rd Qu.:41.0   3rd Qu.:190.0   3rd Qu.:12.60   3rd Qu.:72.0   3rd Qu.:5
 Max.   :96.0   Max.   :313.0   Max.   :14.30   Max.   :74.0   Max.   :5
      Day
 Min.   :1
 1st Qu.:2
 Median :3
 Mean   :3
 3rd Qu.:4
 Max.   :5

In [27]:
#민맥스스케일링 함수 만들고 2개 변수에 적용하기 
min_max_norm <- function(x){
    (x-min(x)) / (max(x)- min(x))
}

df_n<-as.data.frame(lapply(df[1:2], min_max_norm))

In [28]:
head(df_n)

  Ozone      Solar.R
1 0.34523810 0.3692308
2 0.28571429 0.0000000
3 0.00000000 0.1589744
4 0.07142857 1.0000000
5 1.00000000 0.3483667

In [40]:
df %<>% mutate_at (       vars(Ozone, Solar.R ) , 
                   .funs=   min_max_norm    ) %>% head(5)

In [ ]:
##case_when

In [41]:
setwd("C:/Users/alsdu/OneDrive/문서/카카오톡 받은 파일/20220424_데이터분석 스터디/20220424_데이터분석 스터디")

In [44]:
ht<-read.csv("health.csv")

In [45]:
str(ht)

'data.frame':	319795 obs. of  18 variables:
 $ HeartDisease    : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 2 1 1 1 1 ...
 $ BMI             : num  16.6 20.3 26.6 24.2 23.7 ...
 $ Smoking         : Factor w/ 2 levels "No","Yes": 2 1 2 1 1 2 1 2 1 1 ...
 $ AlcoholDrinking : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ Stroke          : Factor w/ 2 levels "No","Yes": 1 2 1 1 1 1 1 1 1 1 ...
 $ PhysicalHealth  : num  3 0 20 0 28 6 15 5 0 0 ...
 $ MentalHealth    : num  30 0 30 0 0 0 0 0 0 0 ...
 $ DiffWalking     : Factor w/ 2 levels "No","Yes": 1 1 1 1 2 2 1 2 1 2 ...
 $ Sex             : Factor w/ 2 levels "Female","Male": 1 1 2 1 1 1 1 1 1 2 ...
 $ AgeCategory     : Factor w/ 13 levels "18-24","25-29",..: 8 13 10 12 5 12 11 13 13 10 ...
 $ Race            : Factor w/ 6 levels "American Indian/Alaskan Native",..: 6 6 6 6 6 3 6 6 6 6 ...
 $ Diabetic        : Factor w/ 4 levels "No","No, borderline diabetes",..: 3 1 3 1 1 1 1 3 2 1 ...
 $ PhysicalActivity: Factor w/ 2 levels "No","Yes": 2 2 2 1 2 1 2 1 1 2 ...
 $ GenHealth       : Factor w/ 5 levels "Excellent","Fair",..: 5 5 2 3 5 2 2 3 2 3 ...
 $ SleepTime       : num  5 7 8 6 8 12 4 9 5 10 ...
 $ Asthma          : Factor w/ 2 levels "No","Yes": 2 1 2 1 1 1 2 2 1 1 ...
 $ KidneyDisease   : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 2 1 ...
 $ SkinCancer      : Factor w/ 2 levels "No","Yes": 2 1 1 2 1 1 2 1 1 1 ...

In [46]:
target <- c('HeartDisease', 'Diabetic', 'Stroke', 'KidneyDisease','SkinCancer', 'Asthma')

In [47]:
target

[1] "HeartDisease"  "Diabetic"      "Stroke"        "KidneyDisease"
[5] "SkinCancer"    "Asthma"

In [48]:
ht %>% select(target) %>% head(5)
ht %<>%  mutate(across(.cols = target, function(x)ifelse(x=='No',0,1)))
ht %>% select(target) %>% head(5)

Note: Using an external vector in selections is ambiguous.
i Use `all_of(target)` instead of `target` to silence this message.
i See <https://tidyselect.r-lib.org/reference/faq-external-vector.html>.
This message is displayed once per session.

  HeartDisease Diabetic Stroke KidneyDisease SkinCancer Asthma
1 No           Yes      No     No            Yes        Yes
2 No           No       Yes    No            No         No
3 No           Yes      No     No            No         Yes
4 No           No       No     No            Yes        No
5 No           No       No     No            No         No

  HeartDisease Diabetic Stroke KidneyDisease SkinCancer Asthma
1 0            1        0      0             1          1
2 0            0        1      0             0          0
3 0            1        0      0             0          1
4 0            0        0      0             1          0
5 0            0        0      0             0          0

In [49]:
table(ht$GenHealth)
ht %<>% mutate(GenHealth = case_when(GenHealth=='Poor' ~ 5,
                                    GenHealth=='Fair' ~ 4,
                                    GenHealth=='Good' ~ 3,
                                    GenHealth=='Very good' ~ 2,
                                    GenHealth=='Excellent' ~ 1))

Excellent      Fair      Good      Poor Very good
    66842     34677     93129     11289    113858

In [50]:
table(ht$GenHealth)  # 확인

     1      2      3      4      5
 66842 113858  93129  34677  11289

In [53]:
ht %<>% mutate(DiseaseCount = rowSums(across(target)))

In [54]:
ht %>% head(5)

  HeartDisease BMI   Smoking AlcoholDrinking Stroke PhysicalHealth MentalHealth
1 0            16.60 Yes     No              0       3             30
2 0            20.34 No      No              1       0              0
3 0            26.58 Yes     No              0      20             30
4 0            24.21 No      No              0       0              0
5 0            23.71 No      No              0      28              0
  DiffWalking Sex    AgeCategory Race  Diabetic PhysicalActivity GenHealth
1 No          Female 55-59       White 1        Yes              2
2 No          Female 80 or older White 0        Yes              2
3 No          Male   65-69       White 1        Yes              4
4 No          Female 75-79       White 0        No               3
5 Yes         Female 40-44       White 0        Yes              2
  SleepTime Asthma KidneyDisease SkinCancer DiseaseCount
1 5         1      0             1          3
2 7         0      0             0          1
3 8         1      0             0          2
4 6         0      0             1          1
5 8         0      0             0          0

In [65]:
ht %>% group_by(Race) %>% summarise(corr_spearman = cor(GenHealth, DiseaseCount, method = 'spearman')) %>% arrange(desc(corr_spearman))

  Race                           corr_spearman
1 Black                          0.3616086
2 Other                          0.3463610
3 American Indian/Alaskan Native 0.3434454
4 White                          0.3308877
5 Hispanic                       0.3127379
6 Asian                          0.2589447