<a href="https://colab.research.google.com/github/min02yam/R-study/blob/main/220711_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2022.07.11
1. 문자열 찾기: grepl
2. 문자열 바꾸기: base, stringr

In [4]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [92]:
#emp=read.csv("employees.csv", stringsAsFactors = TRUE)
dep=read.csv("departments.csv", stringsAsFactors = TRUE)

In [41]:
head(emp)

  EMPLOYEE_ID FIRST_NAME LAST_NAME EMAIL    PHONE_NUMBER HIRE_DATE JOB_ID
1 198         Donald     OConnell  DOCONNEL 650.507.9833 21-JUN-07 SH_CLERK
2 199         Douglas    Grant     DGRANT   650.507.9844 13-JAN-08 SH_CLERK
3 200         Jennifer   Whalen    JWHALEN  515.123.4444 17-SEP-03 AD_ASST
4 201         Michael    Hartstein MHARTSTE 515.123.5555 17-FEB-04 MK_MAN
5 202         Pat        Fay       PFAY     603.123.6666 17-AUG-05 MK_REP
6 203         Susan      Mavris    SMAVRIS  515.123.7777 07-JUN-02 HR_REP
  SALARY COMMISSION_PCT MANAGER_ID DEPARTMENT_ID
1  2600   -             124        50
2  2600   -             124        50
3  4400   -             101        10
4 13000   -             100        20
5  6000   -             201        20
6  6500   -             101        40

In [67]:
as.data.frame(installed.packages())  %>%
  filter( grepl("stringr", Package) ) %>% head

        Package LibPath                 Version Priority Depends
stringr stringr /usr/lib/R/site-library 1.4.0   NA       R (>= 3.1)
        Imports                                       LinkingTo
stringr glue (>= 1.2.0), magrittr, stringi (>= 1.1.7) NA
        Suggests                                                 Enhances
stringr covr, htmltools, htmlwidgets, knitr, rmarkdown, testthat NA
        License              License_is_FOSS License_restricts_use OS_type
stringr GPL-2 | file LICENSE NA              NA                    NA
        MD5sum NeedsCompilation Built
stringr NA     no               4.0.0

In [89]:
dep $ DEPARTMENT_NAME	 %>% table

.
          Accounting       Administration             Benefits
                   1                    1                    1
        Construction          Contracting   Control And Credit
                   1                    1                    1
       Corporate Tax            Executive              Finance
                   1                    1                    1
    Government Sales      Human Resources                   IT
                   1                    1                    1
         IT Helpdesk           IT Support        Manufacturing
                   1                    1                    1
           Marketing                  NOC           Operations
                   1                    1                    1
             Payroll     Public Relations           Purchasing
                   1                    1                    1
          Recruiting         Retail Sales                Sales
                   1                    1                    1
Shareholder Services             Shipping             Treasury
                   1                    1                    1

In [80]:
dep['DEPARTMENT_NAME']= gsub("Finance","F", dep$'DEPARTMENT_NAME')

In [ ]:
dep=read.csv("departments.csv", stringsAsFactors = TRUE)
dep %>%
  mutate(DEPARTMENT_NAME= str_replace_all(변수명,"패턴","바꿀거" ) )

# Base

In [61]:
dep['DEPARTMENT_NAME']= gsub("Benefits", "B", dep$DEPARTMENT_NAME, fixed=TRUE)

In [65]:
dep %>% head

  DEPARTMENT_ID DEPARTMENT_NAME MANAGER_ID LOCATION_ID
1 10            Administration  200        1700
2 20            Marketing       201        1800
3 30            Purchasing      114        1700
4 40            Human Resources 203        2400
5 50            Shipping        121        1500
6 60            IT              103        1400

# stringr

In [72]:
require(stringr)

In [74]:
dep %>% mutate(DEPARTMENT_NAME =  str_replace_all(DEPARTMENT_NAME, "Finance" , "F" )) %>% head

  DEPARTMENT_ID DEPARTMENT_NAME MANAGER_ID LOCATION_ID
1 10            Administration  200        1700
2 20            Marketing       201        1800
3 30            Purchasing      114        1700
4 40            Human Resources 203        2400
5 50            Shipping        121        1500
6 60            IT              103        1400