<a href="https://colab.research.google.com/github/min02yam/R-study/blob/main/23%ED%9A%8C_%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

통계분석

In [2]:
require(data.table)

Loading required package: data.table

#2. 
진공관 수명이 10,000시간이라고 주장하여 12개의 표본을 추출하여 성능을 측정하였다. 5% 유의수준에서 부호검정으로 가설을 검정하시오. (15점)

In [8]:
#install.packages("BSDA")
library(BSDA)

Loading required package: lattice


Attaching package: ‘BSDA’


The following object is masked from ‘package:datasets’:

    Orange

In [17]:
#system("gdown --id 1W-hQcfUL0c_YCPbQqH0PL7OtYDtHt08l")
dt = fread("tube.csv")

In [11]:
head(dt)
str(dt)

  V1
1  9800
2  9900
3 11000
4 10000
5  8900
6  9100

'data.frame':	12 obs. of  1 variable:
 $ V1: int  9800 9900 11000 10000 8900 9100 10000 10005 9700 9500 ...

Warning message in xtfrm.data.frame(x):
“cannot xtfrm data frames”

ERROR: ignored

In [15]:
SIGN.test(dt[,1], m = 10000)

	One-sample Sign-Test

data:  dt[, 1]
s = 2, p-value = 0.1094
alternative hypothesis: true median is not equal to 10000
95 percent confidence interval:
  9142.545 10000.000
sample estimates:
median of x
       9850

Achieved and Interpolated Confidence Intervals:

                  Conf.Level   L.E.pt U.E.pt
Lower Achieved CI     0.8540 9500.000  10000
Interpolated CI       0.9500 9142.546  10000
Upper Achieved CI     0.9614 9100.000  10000

## 2-1.	
연구가설과 귀무가설을 설정하시오. (5점)
- `H_0`: 진공관 수명이 10,000시간 아님 <BR>
- `H_A`: 진공관 수명 10,000시간임
## 2-2.	
유효한 관측치의 수를 계산하시오. (5점)
- 모르겠음
## 2-3.	
검정통계량을 산출하고, 연구가설 채택여부를 결정하시오. (5점)
- 검정통계량 2, 귀무가설 채택 연구가설 기각

# 3. 
Covid-19 데이터 셋으로 시계열 군집분석을 5% 유의수준에서 실행하시오. (20점)

In [3]:
system("gdown --id 1bxhdQothv4_KL0iglTtTnYRHvb895-OP")
DT = fread("covid19.csv")

In [18]:
require(dplyr)

Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:data.table’:

    between, first, last


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## 3-1.	
자기상관함수(ACF)를 이용하여 거리를 계산하시오. (10점)

In [8]:
#install.packages("forecast")
library(forecast)

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

In [20]:
#.....????
DT %>% select(Confirmed) %>% Acf(plot=F)
??????
이거 아닌 것 같음

Autocorrelations of series ‘.’, by lag

    0     1     2     3     4     5     6     7     8     9    10    11    12
1.000 0.995 0.991 0.986 0.981 0.977 0.972 0.967 0.963 0.958 0.953 0.949 0.944
   13    14    15    16    17    18    19    20    21    22    23    24    25
0.939 0.934 0.930 0.925 0.920 0.915 0.911 0.906 0.901 0.897 0.892 0.887 0.882
   26    27    28    29    30    31    32    33
0.878 0.873 0.868 0.863 0.859 0.854 0.849 0.844

## 3-2.	
앞의 [3-1] 문항의 결과를 이용하여 계층적 군집분석을 위한 덴드로그램을 작성하시오. (10점)

In [ ]:
<공부중>
acf를 이용한다는걸 잘 모르곘음

# 4
대학원생 130명을 대상으로 성적과 전공을 조사한 표이다. 학부 성적과 전공간에 관련이 있는지 5% 유의수준에서 검정하시오. (15점)

In [24]:
require(reshape2)

Loading required package: reshape2


Attaching package: ‘reshape2’


The following objects are masked from ‘package:data.table’:

    dcast, melt

In [31]:
df = data.frame( 사회과학 = c(30, 8,12),
  자연과학 = c(13, 16, 11),
  공학 = c(16, 7, 17),
  성적 = c("A","B","C"))

f=melt(id="성적", df)
xt = xtabs(value~ 성적+ variable, f)

In [33]:
chisq.test(xt)

	Pearson's Chi-squared test

data:  xt
X-squared = 13.088, df = 4, p-value = 0.01085

## 4-1.	
연구가설과 귀무가설을 설정하시오. (5점) <BR>
-`H0`: 독립이다
-`H_A`: 독립이아니다

## 4-2.	
학부 성적과 대학원 전공이 독립인 경우 기댓값을 구하시오. (5점)

In [38]:
xt
30+13+16
8+16+7
12+11+17

30+8+12
12+16+11
16+7+17

    variable
성적 사회과학 자연과학 공학
   A       30       13   16
   B        8       16    7
   C       12       11   17

## 4-3.	
검정통계량을 산출하고, 연구가설 채택여부를 결정하시오. (5점)