<a href="https://colab.research.google.com/github/min02yam/R-study/blob/main/%EC%97%B0%EC%8A%B5/fastDummies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2022.05.18<br>
# Package ‘fastDummies’<br>
https://cran.r-project.org/web/packages/fastDummies/fastDummies.pdf

In [2]:
install.packages("fastDummies"); library(fastDummies)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [1]:
#데이터 프레임 생성
crime <- data.frame(city = c("SF", "SF", "NYC"),
year = c(1990, 2000, 1990),
crime = 1:3); crime

  city year crime
1 SF   1990 1
2 SF   2000 2
3 NYC  1990 3

In [3]:
dummy_rows(crime) # row에 만듦

  city year crime
1 SF   1990 1
2 SF   2000 2
3 NYC  1990 3

In [4]:
# Include year column
dummy_rows(crime, select_columns = c("city", "year")) # 먼말인지모르곘음

  city year crime
1 SF   1990  1
2 SF   2000  2
3 NYC  1990  3
4 NYC  2000 NA

In [5]:
# m=Make dummy value 0
dummy_rows(crime, select_columns = c("city", "year"), dummy_value = 0)  # row에 생성한 더미에 0 할당

  city year crime
1 SF   1990 1
2 SF   2000 2
3 NYC  1990 3
4 NYC  2000 0

In [6]:
dummy_cols( .data= crime   , select_columns=c("city","year") , remove_first_dummy=  FALSE, remove_selected_columns=TRUE )
#지정 안하면 팩터 모두 변형

  crime city_NYC city_SF year_1990 year_2000
1 1     0        1       1         0
2 2     0        1       0         1
3 3     1        0       1         0